body{
    background: #CCCCCC;
    font-family: tahomaregular;
}

.block-form{
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.block-iniciar-campanha{
    background-color: #fff;
    height: 100%;
    padding-bottom: 60px;
}

.container{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 1200px) { 
    .container{
        width: 999px;
        padding-top: 16px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.block-image-footer{
    text-align: center;
    padding-top: 15px;
}