@font-face{
    font-family: tahomaregular;
    src: url(../../fonts/tahoma.ttf);
}

@font-face{
    font-family: tahomabold;
    src: url(../../fonts/tahomabd.ttf);
}

h1{
    font-family: tahomabold;
    font-size: 22px;
    color: #A0A0A9;
}

