/* FORMULÁRIO LOGIN TEXT */
.block-form {
    p.title {
        font-family: tahomabold;
        font-size: 15px;
        color: black;
        padding: 0px 37px 0px 37px;
        text-align: center;
    }

    p {
        font-size: 15px;
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    .check-box {
        padding-left: 45px;
        padding-right: 45px;
    }

    h1 {
        text-align: center;
        padding: 37px;
    }

    @media (min-width:1200px) {

        p.title {
            text-align: justify;
        }

        .text-muted {
            padding-left: 35px;
        }

        .form-check-input {
            margin-left: 37px;
        }

        .form-check-label {
            padding-left: 58px;
        }

        p {
            padding-left: 37px;
            padding-right: 37px;
            text-align: justify;
        }


        h1 {
            padding: 37px;
            text-align: left;
        }

        .check-box {
            padding: 0 0 0 0;
        }

    }
}

/* formulários */
.form-login {
    padding: 12px;
    text-align: center;

    .btn-primary {
        border-color: #FD1B22;
        background-color: #FD1B22;
        border-radius: 0px;
    }

    @media (min-width: 1200px) {
        padding-left: 35px;
        text-align: left;

        .form-check-label {
            padding-left: 58px;
        }

        .form-control {
            border-radius: 0px;
        }

    }
}


/* FORMULÁRIO INTERNO - 2 */
.block-iniciar-campanha {
    h1 {
        padding: 37px;
        text-align: center;
    }
}


.formulario-cliente {
    padding: 30px;

    label{
        border: 2px solid #ced4da;
        text-align: center;
        background: #E6E6E6;    
        font-weight: bold;
        height: 100%;
        width: 100%;
    }
    
    .form-control {
        border-radius: 0px;
    }

    .btn-primary,.buscar-cep {
        background-color: #FD1B22;
        border-color: #FD1B22;
        border-radius: 0px;
        color: white;
    }

    .buscar-cep {
        font-size: 15px;
    }

    @media (min-width:1200px) {
        padding-left: 71px;
        padding-right: 3px;


        label{
            width: 106%;
            height: 90%; 
            padding-top: 4px;
        }

        .btn-primary {
            width: 91.5%;
        }

        .form-control {
            font-size: 14px;
        }

        .form-group {
            margin-bottom: 5px;
        }
    }
}